 .gorgious{
    color: chocolate;
}
.gorgiouse{
    background-color: crimson;
    border-radius: 5px;
    margin-top: 50px;
    padding: 3px 9px;
    color: floralwhite;
}
.catagories img{
       height: 200px;
}
.catagories h1{
    color: ghostwhite;
}
.carousel-item{
 padding:20px 40px ;
 background-color: darkgray;
}
.catagories{
    margin-top: 110px;
}
.cat-1{
    background-color: chocolate;
}
.cat-2{
    background-color:darkgoldenrod;
}
.cat-3{
    background-color: darksalmon;

}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 8px;
}

.shoes{
    margin-top: 110px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}